* {
  box-sizing: border-box;
}

/* header{grid-area: head;} */
#logo {
  grid-area: logo;
}
#searchBar {
  grid-area: sb;
}
#signIn {
  grid-area: sign;
}
#filler {
  grid-area: filler;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
#info {
  grid-area: info;
}
#otherInfo {
  grid-area: otherInfo;
}
#break {
  grid-area: break;
}
#country {
  grid-area: country;
}
#carbon {
  grid-area: carbon;
}
footer {
  grid-area: foot;
}

#googleLogo {
  height: 5vh;
  display: block;
}

header {
  display: inline-block;
}

body {
  display: grid;
  grid-template-columns: 10% 50% 1fr;
  grid-template-rows: 10vh auto 15vh;
  grid-template-areas:
    "logo sb sign"
    "filler main aside"
    "foot foot foot";
  font-family: Arial, sans-serif;
}

#topRight {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

form {
  display: inline;
}

.fas {
  margin-left: 20px;
  transition: 0.3s;
}

.fas:hover {
  opacity: 0.7;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}

header li {
  float: right;
}

main div {
  margin-bottom: 40px;
}

main div a:nth-child(1) {
  color: black;
  text-decoration: none;
  display: block;
}

main div a:nth-child(2) {
  color: #1a0dab;
  text-decoration: none;
  display: block;
  font-size: x-large;
  margin-bottom: 10px;
  padding-top: 10px;
}

main div a:nth-child(2):hover {
  text-decoration: underline;
}

main div a:nth-child(1):hover + a {
  text-decoration: underline;
}

main div p {
  margin-top: 0;
}

footer ul {
  background-color: rgb(233, 233, 233);
}

footer li {
  display: inline;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
}
li a:hover {
  text-decoration: underline;
}
.grid {
  height: 23px;
  position: relative;
  bottom: 4px;
}
.signbutton {
  background-color: #4885ed;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 7px 10px;
  position: relative;
  bottom: 7px;
  font-weight: bold;
}

.bar {
  /* margin:0 auto; */
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}
.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}
.voice {
  height: 20px;
  position: relative;
  top: 5px;
}

.buttons {
  margin-top: 30px;
  text-align: center;
}
.button {
  background-color: #f5f5f5;
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
  text-align: center;
}
.button:hover {
  border: 1px solid #c8c8c8;
  padding: 9px 19px;
  color: #808080;
}
.button:focus {
  border: 1px solid #4885ed;
  padding: 9px 19px;
}
